Source: ros-indigo-pluginlib
Section: misc
Priority: extra
Maintainer: Esteve Fernandez <esteve@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libtinyxml-dev, ros-indigo-catkin (>= 0.5.68), ros-indigo-class-loader, ros-indigo-cmake-modules, ros-indigo-rosconsole, ros-indigo-roslib (>= 1.11.1)
Homepage: http://www.ros.org/wiki/pluginlib
Standards-Version: 3.9.2

Package: ros-indigo-pluginlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml-dev, ros-indigo-class-loader, ros-indigo-rosconsole, ros-indigo-roslib (>= 1.11.1)
Description: The pluginlib package provides tools for writing and dynamically loading plugins using the ROS build infrastructure. To work, these tools require plugin providers to register their plugins in the package.xml of their package.
